<?xml version="1.0" encoding="UTF-8" ?>
<web-app id="WebApp_ID" version = "2.5" 
    xmlns="http://java.sum.com/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>oprisklib</display-name>
  
  <listener>
     <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
  		   /WEB-INF/context/lib-dao.xml
		   /WEB-INF/context/lib-service.xml
  		</param-value>
  </context-param>
  <context-param>  
    <param-name>webAppRootKey</param-name>  
    <param-value>opriskklib</param-value>  
 </context-param>  
  <context-param>
  		<param-name>log4jConfigLocation</param-name>
  		<param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  
  <context-param>  
	    <param-name>log4jRefreshInterval</param-name>  
	    <param-value>600000</param-value>  
	</context-param>
  
   <listener>   
	 <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
	</listener>
  
  <servlet>
  	<servlet-name>oprisklib</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
  		    /WEB-INF/context/lib-servlet.xml
  		</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	  <servlet-name>oprisklib</servlet-name>
  	  <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
